$def with (users)
<!DOCTYPE html>
<html>
    <head>
        <meta lang="es">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/img/ICON_LT.png">
        <title>Lista Usuarios</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="static/css/admin.css">
    </head>
    <body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="/static/img/icon_menu.png" style="width: 100%;" alt=""/></label>
            <nav class="menu">
                <ul>
                    <li><img src="/static/img/BANNER_LT.png"></li>
                    <li id="ajuste"><a href="/bienvenida_admin">Inicio</a></li>
                    <li><a href="/login">Salir</a></li>
                </ul>
            </nav>
        </header>
        <div class="padre">
            <table class="table" style="margin-left: auto; margin-right: auto; width: 97%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Tipo</th>
                        <th colspan="2" style="text-align: center;">Acciones</th>
                    </tr>
                </thead>
                $for user in users:
                <tbody>
                    <tr>
                        <td data-title="Nombre">$user.val().get('nombre')</td>
                        <td data-title="Email">$user.val().get('email')</td>
                        <td data-title="Telefono">$user.val().get('telefono')</td>
                        $if user.val().get('status') == 'true':
                            <td data-title="Estado">Activo</td>
                        $else:
                            <td data-title="Estado">Inactivo</td>
                        $if user.val().get('level') == 'admin':
                            <td data-title="Tipo">Administrador</td>
                        $else:
                            <td data-title="Tipo">Operador</td>
                        <td><button class="btn btn-primary" style="margin-left: auto; margin-right: auto; width: 100px; background-color:#75ADDE; border:0;"><a href="/editar_usuario/$user.key()">Actualizar</a></button></td>
                        $if user.val().get('status') == 'true':
                            <td data-title="Acciones"><button class="btn btn-primary" style="margin-left: auto; margin-right: auto; width: 100px; background-color: rgb(255, 94, 94);; border:0;"><a href="/suspender_usuario/$user.key()">Suspender</a></button></td>
                        $else:
                            <td data-title="Acciones"><button class="btn btn-primary" style="margin-left: auto; margin-right: auto; width: 100px; background-color: rgb(126, 255, 94); border:0;"><a href="/suspender_usuario/$user.key()">Activar</a></button></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <div class="letter">
                <button class="btn btn-primary" style="background-color: #50ACC8; border: 0; margin-left: auto; margin-right: auto; "><a href="/registrar_usuario">Nuevo Usuario</a></button><br><br>
            </div>
        </div>
    </body>
</html>