@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

header{
    width: 100%;
    background: #50ACC8;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;   
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.menu img{
    width: 150px;
}

#ajuste{
    margin-left: 70%;
}

h1{
    padding-top: 10px;
    text-align: center;
}

.padre{
    display: flex;
    flex-direction: column;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.formulario{
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 5px;
    width: 500px;
}

.letter{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    width: 150px;
}

.dashboard{
    background-color: rgba(221, 221, 221, 0.507);
    padding: 9px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.sucursal{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
}

.card{
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    color: #005fb8;
}

.data{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    color: #000000;
}

button{
    width: 80px; 
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

button a, button a:hover{
    color: #fff;
    text-decoration: none;
}

td a, td a:hover{
    color: #000;
    text-decoration: none;
}

button{
    width: 130px; 
    height: 40px;
}

@media (max-width: 600px) {
    #ajuste{
        margin-left: 0%;
    }
    .menu img{
        display: inline-block;
    }
    .sucursal{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 250px;
        height: 250px;
    }
    .text{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        width: 250px;
        color: #005fb8;
    }
    .data{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        width: 250px;
        color: #000000;
    }
    button{
        width: 210px;
        height: 50px;
        font-size: 18px;
    }
	table, 
	thead, 
	tbody, 
	th, 
	td, 
	tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	tr { border: 1px solid #ccc; }
 
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 25%; 
		white-space: normal;
		text-align:left;
	}
 
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	td:before { content: attr(data-title); }
    .formulario{
        width: 95%;
    }
}