<html>
    <head>
        <title>Bienvenido Administrador</title>
        <link rel="stylesheet" href="static/css/operador.css">
    </head>
    <body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="img/icon_menu.png" style="width: 100%;" alt=""/></label>
            <nav class="menu">
                <ul>
                    <li><img src="/static/img/BANNER_LT.png"></li>
                    <li><a href="/logout">Salir</a></li>
                </ul>
            </nav>
        </header>
        <h1 style="padding: 15px;">Bienvenid@ <strong>Operador</strong></h1>
    </body>
</html>